{% extends "::base.html.twig" %}

{% block viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/pages/user/css/app.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}

    <style>
        body {
            background-image: url('{{ asset('assets/img/greyzz.png') }}');
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-info flash-{{ type }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-12">

            {% block fos_user_content %}
            {% endblock fos_user_content %}

        </div>
    </div>

{% endblock %}