<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block viewport %}
    {% endblock %}

    <title>{% block title %}UNHANDLED TITLE!{% endblock %}</title>

    <!-- STYLESHEETS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}

    <!-- JAVASCRIPTS -->
    <script src="{{ asset('assets/js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    {% block javascripts %}
    {% endblock %}
</head>
<body>

{% block body %}
{% endblock %}

</body>
</html>