<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block viewport %}{% endblock %}

    <title>{% block title %}UNHANDLED TITLE!{% endblock %}</title>

    <!-- STYLESHEETS -->
    {% block stylesheets %}{% endblock %}

    <!-- JAVASCRIPTS -->
    {% block javascripts %}{% endblock %}
</head>
<body>

{% block body %}{% endblock %}

</body>
</html>